@model Odarms.Data.Objects.Entities.SystemManagement.Restaurant

@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<style>
    .pad{
        padding-top: 20px;
    }
</style>

    @using (Html.BeginForm("Register", "Restaurants", FormMethod.Post, new { @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class=" container contact_container">
            <div class="row">
                <div class=" col-md-12 col-sm-12 col-xs-12 text-center">
                    <hr />
                    <h2><strong>REGISTER RESTAURANT</strong></h2>
                    <hr />
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "input_name", @class = "form-control form_input input_message input_ph", @placeholder = "Restaurant Name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                    @Html.EditorFor(model => model.Motto, new { htmlAttributes = new { @id = "input_motto", @class = "form-control form_input input_message input_ph", @placeholder = "Motto" } })
                    @Html.ValidationMessageFor(model => model.Motto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                    @Html.EditorFor(model => model.Logo, new { htmlAttributes = new { @id = "input_logo", @class = "form-control form_input input_message input_ph", @placeholder = "Logo" } })
                    @Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @id = "input_location", @class = "form-control form_input input_message input_ph", @placeholder = "Location" } })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                    @Html.EditorFor(model => model.ContactEmail, new { htmlAttributes = new { @id = "input_contactEmail", @class = "form-control form_input input_message input_ph", @placeholder = "Contact Email" } })
                    @Html.ValidationMessageFor(model => model.ContactEmail, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                    @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @id = "input_contactNumber", @class = "form-control form_input input_message input_ph", @placeholder = "Contact Number" } })
                    @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-6 form-group">
                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @id = "input_state", @class = "form-control form_input input_message input_ph", @placeholder = "State" } })
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 form-group">
                    @Html.EditorFor(model => model.LGA, new { htmlAttributes = new { @id = "input_LGA", @class = "form-control form_input input_message input_ph", @placeholder = "LGA" } })
                    @Html.ValidationMessageFor(model => model.LGA, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 form-group">
                    @Html.DropDownListFor(model => model.PackageId, null, " Select Package ", htmlAttributes: new { @class = "form-control form_input input_message input_ph" })
                    @Html.ValidationMessageFor(model => model.Package, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-10 pull-right">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a href="@Url.Action("", "")" class="btn btn-danger">Cancel</a>
                </div>
            </div>

        </div>
    }
